//
// CSS Helpers
// --------------------------------------------------

a {
  color:#37474f;
}

.col-md-12 {
    padding: 0;
}

/* adding padding to the bottom of the content of fair pages */
.container-fluid {
  padding-bottom: 50px;
}

//the 1000000th time I am doing something stupid for ths
.caption {
  background: rgba(190, 18, 208, 0.6);
  position: relative;
  margin-top: -55px;
  color: #fff;
  font-size: 2em;
  padding: 0px 10px;
}

span.view-more {
  border: 1px solid #fff;
  padding: 3px 10px;
  border-radius: 5px;
  float: right;
  font-size: 20px;
  margin-top: 3px;
}

.panel-pane.pane-views-panes.pane-home-page-slide-show-panel-pane-1 .pane-title {
  display: none;
}

.field.field-name-field-venue.field-type-taxonomy-term-reference.field-label-above .field-label {
  display: none;
}

.field.field-name-field-repeat-dates-and-times.field-type-datetime.field-label-above .field-label {
  display: none;
}

.entity.entity-field-collection-item.field-collection-item-field-repeating-dates-and-time.clearfix {
  margin-bottom: 1em;
}

.views-field.views-field-title {
  display: inline-block;
  margin-right:20px;
}

.views-field.views-field-field-repeat-dates-and-times {
  display: inline-block;
  margin-right:20px;
}

.views-field.views-field-field-venue {
  display: inline-block;
  margin-right:20px;
}

.views-field.views-field-field-event-sponsors {
  display: inline-block;
  margin-right: 10px;
  font-style: italic;
}

span.views-label.views-label-field-event-sponsors {
  margin-right: 5px;
}

.views-field.views-field-field-event-tagline {
  display: inline-block;
  margin-right: 20px;
}

