//
// SASS Mixins
// --------------------------------------------------
@mixin page-header($imagecolor) {
	//This Controls Menu color
	nav.secondary ul {
		background:$imagecolor;
	}
	//This controls banners
	.field-type-image {
		background-color: $imagecolor;
		& img.panopoly-image-full {
			opacity: 0.1;
		}
	}
	//This controls image height of banners
	.pane-bundle-image {
	    height: 240px;
	    max-height: 240px;
	    overflow: hidden;
	}
	//This controls are H2, H3, H4, H5 colors
	.pane-node-field-fair-content h2, h3, h4, h5 {
		color:$imagecolor;
	}
	//This controls our link color
	.pane-node-field-fair-content a {
		color:$imagecolor;
	}
}