//
// SASS Mixins
// --------------------------------------------------
@mixin page-header($imagecolor) {
	nav.secondary ul {
		background:$imagecolor !important;
	}
	.field-type-image {
		background-color: $imagecolor;
		& img.panopoly-image-full {
			opacity: 0.1;
		}
	}
}