<<<<<<< HEAD
/* Over riding sponsors 2015 */
th {
  border: none;
}

/* setting line height for all lists */
li {
    line-height: 26px;
}

/* Over writing default for background and background-color on sub menus */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background: none;
  background-color: none;
  color: #43b3e6;
}

.nav-pills > li > a:hover {
  background-color: none;
  background: none;
  color: #fff;
}

/* Exibitor sub menu over writes */
.pane-menu-exhibitor-sub-menu a {
  color: #778899;
}

.pane-menu-exhibitor-sub-menu .nav-pills > li.active > a, .pane-menu-exhibitor-sub-menu .nav-pills > li.active > a:hover, .pane-menu-exhibitor-sub-menu .nav-pills > li.active > a:focus {
  background: none;
  background-color: none;
  color: #26a69a;
}

.pane-menu-exhibitor-sub-menu .nav-pills > li > a:hover {
  color: #26a69a;
}

/* Aligning all sub nav's to the right */
.internal-subnav {
  text-align: right;
}

/* recoloring the anchors in sub nav on Fair Info page */
.pane-menu-fair-info-sub-nav-desktop a {
  color: #778899;
}

/* recoloring the text in sub nav on Fair Info page */
.pane-menu-fair-info-sub-nav-desktop .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background: none;
  background-color: none;
  color: #428bca;
}

.pane-menu-fair-info-sub-nav-desktop .nav-pills > li > a:hover {
  color: #428bca;
}

/* recoloring the text in the sub nav on the France Equestrian page */
.pane-menu-menu-fec-sub-nav a {
  color: #778899;
}

.pane-menu-menu-fec-sub-nav li >a:hover {
  color: #26a69a;
}

/*Overwrite for all sub menus */ 
.nav > li > a:hover, .nav > li > a:focus {
  background:none;
}

/* Overwrite text color of sub menu for About Us page */
.pane-menu-about-us-menu a {
  color: #778899;
}

.pane-menu-about-us-menu .nav-pills > li > a:hover {
  color: #428bca;
}

/* Overwrite text color of sub menu for Vendors page */
.menu-name-menu-vendors-sub-nav a {
  color: #778899;
}

.menu-name-menu-vendors-sub-nav .nav-pills > li > a:hover {
  color: #428bca;
}

/* Overwrite text color of Sponsorships page */
.pane-menu-sponsor-sub-nav a {
  color: #778899;
}

.pane-menu-sponsor-sub-nav .nav-pills > li > a:hover {
  color: #428bca;
}

/*--------------- Beginning styles for the Discounts page -------------------*/
#promotion {
  float: left;
  padding-right: 10px;
  margin-bottom: 10px;
}
.circletext {
  width: 80px;
  color: #fff;
  font-family: 'Helvetica';
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  padding-top: 15px;
  line-height: 1.5;
}

/* removing the grey border from the rows of tables */
table th,
table td {
  border-top: none;
  font-weight: 500;
}

/* adding padding to the bottom of the content of fair pages */
.container-fluid {
  padding-bottom: 50px;
}

/* making the "BUY" links in tables align right */
td.price-table-buy {
  text-align: right;
}

/* adding space below the pricing tables */
table.price-table {
    margin-bottom: 30px;
}

/* Changes from Steven */
[8/6/15, 6:54:30 PM] Steven Loyer:     font-size: 14px;
}

em {
    font-size: 12px;
    line-height: 17px;
}

.panel-pane.pane-entity-field.pane-node-field-fair-content {
    padding-right: 40px;
    padding-left: 5px;
    margin-bottom: 60px;
}

.col-md-3.internal-subnav.panel-panel {
    margin-top: 39px;
}

[8/6/15, 6:54:19 PM] Steven Loyer: p {
  font-size: 14px;
  line-height: 26px;
}

[8/6/15, 6:55:56 PM] Steven Loyer: .pod > h3 {
    font-size: 22px;
    margin-bottom: -5px;
}

h3, .h3 {
    margin-top: 40px;
    margin-bottom: 11px;
}

h1, .h1, h2, .h2 {
    margin-top: 50px;
    margin-bottom: 11px;
}

td {
  font-size: 14px;
}

.right-sidebar h2 {
    font-family: 'Cinzel', serif;
    color:#37474f
;margin-top: 0;
}

.right-sidebar h3, h4, h5 {
    color:#37474f;
    line-height:25px
}

.right-sidebar h4 {
    margin-bottom: 4px;
    font-size: 19px;
}

.right-sidebar h5 {
    line-height: 22px;}

.right-sidebar {
    color:#37474f
}

.right-sidebar ul {
    padding-left: 26px;
   
    text-align: left !important;
}

.right-sidebar ul li {
    margin-bottom:1em
;
    text-indent: 1px;
}

img.myfair-icon {
    display: block;
    width: 47%;
    margin: 0 auto;
    margin-top: 55px;
    color: #;
    margin-bottom: 28px;
}

#right-sidebar {
    padding: 20px;
    box-shadow: 0 0 5px #000;
}

.col-md-12.internal-header.panel-panel {
     padding:0;
}

[8/6/15, 7:50:45 PM] Steven Loyer: .right-sidebar h2 {
    font-family: 'Cinzel', serif;
    color:#37474f
;margin-top: 0;
}

.right-sidebar h3, h4, h5 {
    color:#37474f;
    line-height:25px
}

.right-sidebar h4 {
    margin-bottom: 4px;
    font-size: 19px;
}

.right-sidebar h5 {
    line-height: 22px;}

.right-sidebar {
    color:#37474f
}

.right-sidebar ul {
    padding-left: 26px;
   
    text-align: left !important;
}

.right-sidebar ul li {
    margin-bottom:1em;
    text-indent: 1px;
}

img.myfair-icon {
    display: block;
    width: 47%;
    margin: 0 auto;
    margin-top: 55px;
    color: #;
    margin-bottom: 28px;
}

#right-sidebar {
    padding: 20px;
}

.right-sidebar a {
    text-decoration:underline;
    color: #37474f;
}


/* end changes from Steven */


/* Setting the sub nav lower */
.menu-block-wrapper.menu-block-ctools-menu-fair-info-sub-nav-desktop-1.menu-name-menu-fair-info-sub-nav-desktop.parent-mlid-0.menu-level-1 {
    margin-top: 12px;
}

/* changing paragraph line height */
p {
  margin: 0 0 11px;
  line-height: 26px;
}


/* ------------------------------- styling "buy tickets" section of concerts pages */

/* sponsors */
.row > .col-md-4.event-sponsor {
    display: inline-block;
    width: 40%;
    margin: 0;
    text-align: center;
    background: #9C51A1;
    background-color: #9C51A1;
    height: 200px;
    border: 1px solid #ffffff;
}

@media (max-width:1036px){
    .row > .col-md-4.event-sponsor {
        display: inline-block;
        width: 100%;
        margin: 0;
        text-align:center;
        background: #9C51A1;
        background-color: #9C51A1;
        height: 200px;
        border: 1px solid #ffffff;
    }
}

.event-sponsor h3, .event-sponsor a {
    color: #ffffff;
}

.event-sponsor h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 25px;
}

/* lawn area */
.row > .col-md-4.event-price--lawn {
    display: inline-block;
    width: 30%;
    margin: 0;
    text-align: center;
    background: #9C51A1;
    background-color: #9C51A1;
    height: 200px;
    border: 1px solid #ffffff;
}

.event-price--lawn a {
    padding: 10px 25px;
    margin: 0;
    border: 1px solid #fff;
    font-size: 22px;
    background: #7E4784;
    width: auto;
}

.event-price--lawn a:hover {
    color: #fff;
}

.event-price--lawn h4 {
    margin-top: 8px;
    margin-bottom: 25px;
    font-size: 32px;
}

.event-price--lawn h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 400 !important;
}

.event-price--lawn h4 {
    color: #ffffff;
}

.event-price--lawn h3 {
    color: #ffffff;
}

.event-price--lawn a {
    color: #ffffff;
}

@media (max-width:2000px){

    .event-price--lawn a {
        padding: 5px 10px;
        margin: 0;
        border: 1px solid #fff;
        font-size: 14px;
        background: #7E4784;
        width: auto;
    }

    .event-price--lawn h3 {
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 400 !important;
    }
}

@media (max-width:1036px){
    .row > .col-md-4.event-price--lawn {
        display: inline-block;
        width: 100%;
        margin: 0;
        text-align:center;
        background: #9C51A1;
        background-color: #9C51A1;
        height: 200px;
        border: 1px solid #ffffff;
    }
    .event-price--lawn a {
        padding: 5px 10px;
        margin: 0;
        border: 1px solid #fff;
        font-size: 14px;
        background: #7E4784;
        width: auto;
    }
    .event-price--lawn h3 {
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 400 !important;
    }
}


/* reserved area */
.row > .col-md-4.event-price--reserved {
    display: inline-block;
    width: 30%;
    margin: 0;
    text-align:center;
    background: #9C51A1;
    background-color: #9C51A1;
    height: 200px;
    border: 1px solid #ffffff;
}

.event-price--reserved a {
    padding: 5px 10px;
    margin: 0;
    border: 1px solid #fff;
    font-size: 14px;
    background: #7E4784;
    width: auto;
}

.event-price--reserved a:hover {
    color: #fff;
}

.event-price--reserved h4 {
    margin-top: 8px;
    margin-bottom: 25px;
    font-size: 32px;
}

.event-price--reserved h3 {
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400 !important;
}

.event-price--reserved h4 {
    color: #ffffff;
}

.event-price--reserved h3 {
    color: #ffffff;
}

.event-price--reserved a {
    color: #ffffff;
}

@media (max-width:2000px){

    .event-price--reserved a {
        padding: 5px 10px;
        margin: 0;
        border: 1px solid #fff;
        font-size: 14px;
        background: #7E4784;
        width: auto;
    }

    .event-price--reserved h3 {
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 400 !important;
    }
}

@media (max-width:1036px){
    .row > .col-md-4.event-price--reserved {
        display: inline-block;
        width: 100%;
        margin: 0;
        text-align:center;
        background: #9C51A1;
        background-color: #9C51A1;
        height: 200px;
        border: 1px solid #ffffff;
    }
    .col-md-4.event-price--reserved a {
        padding: 5px 10px;
        margin: 0;
        border: 1px solid #fff;
        font-size: 14px;
        background: #7E4784;
        width: auto;
    }
    .col-md-4.event-price--reserved h3 {
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 400 !important;
    }
}

@media (max-width:850px){
    .row > .col-md-4.event-price--reserved {
        min-height: 295px;
    }
}

@media (max-width:767px){
    .row > .col-md-4.event-price--reserved {
        min-height: 200px;
    }
}
/* row wrapper */
.row > .event-price--lawn, .row > .event-sponsor {
    display: inline-block;
    margin-left: none;
    margin-right: none;
    width: 100%;
}

.field.field-name-field-additional-information {
    width: 106%;
    margin-left: -3%;
}

@media (max-width:1036px){
    .field.field-name-field-additional-information {
        width: 114%;
        margin-left: -7%;
    }
}

.node-type-events img.media-element.file-default.panopoly-image-original {
    max-width: 180px;
    max-height: 108px;
}
/* ------------------------------------- end concerts page "buy tickets" styling */

/* adding padding to table on facility rental page */
.page-node-102 .table-wide {
    margin-top: 50px;
}

/* overwriting line-height and padding for sub-navs */
.internal-subnav li {
    line-height: 25px;
    padding-top: 10px;
}

/* overwriting Exibitor sub nav for hover effect */
.pane-menu-menu-exhibitor-sub-menu a:hover {
    color: #1FA79B;
    font-weight: 600;
}

/* hiding "Fair Page" Page title and adding top margin to content 
for flowers pages of the type alaskastatefairi.org/flower-type/ */
/*----- Euphorbia Lathyris -----*/
.page-node-492 .field-label {
    display: none;
}

.page-node-492 .field-items {
    margin-top: 60px;
}

/*----- Humulus Lupulus -----*/
.page-node-493 .field-label {
    display: none;
}

.page-node-493 .field-items {
    margin-top: 60px;
}