.node-type-events {
  .field-name-title {
    padding-left: 5px;   
  }
  .field-name-field-repeating-dates-and-time.field-type-field-collection {
    padding-left:5px;
  }
  .nosub {
    padding-left:5px
  }
  @media (min-width: 1080px) {
    .field-name-title{
      padding-left:250px;
    }
    .field-name-field-repeating-dates-and-time.field-type-field-collection {
      padding-left:250px;
    }
    .nosub {
      padding-left:250px
    }
  }
}



.view-concert-landing .views-row {
  color: $concerts;
  padding: 2em;
  margin-bottom: 1em;
  -webkit-box-shadow: -1px 1px 47px -17px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 47px -17px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 47px -17px rgba(0, 0, 0, 0.75);
  .concert-landing {
    color: $concerts;
  }

  .concerts-buy {
    display: inline-block;
    margin-top: 2em;
    a {
      background: purple;
      padding: 1em;
      color: #fff;
    }
  }

  .concerts-moreinfo {
    display:inline-block;
    a {
      background: $concerts;
      padding: 1em;
      color: #fff;
    }
  }
}

.col-md-12.front-concerts.panel-panel img {
  width: 100%;
}

/* adding padding to bottom of buttons */
.concerts-buy  {
    padding-bottom: 30px;
}

.concerts-moreinfo  {
    padding-bottom: 30px;
}

//Making venues not clickable
.field.field-name-field-venue.field-type-taxonomy-term-reference.field-label-above a {
  pointer-events: none;
}

// making buttons at bottom of concerts pages consistent
.node-type-events {
  .event-sponsor {
    display: inline-block;
    margin: 0;
    text-align: center;
    background: #9C51A1;
    background-color: #9C51A1;
    height: 200px;
    border: 1px solid #ffffff;

    img {
      width: 90%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: 1200px){
      display: inline-block;
      margin: none;
      width: 100%;
      height:  auto;
    }
  }
  .event-price--lawn, .event-price--reserved {
    margin: 0;
    text-align: center;
    background: #9C51A1;
    background-color: #9C51A1;
    height: 200px;
    border: 1px solid #ffffff;

    @media (max-width: 1200px){
      display: inline-block;
      margin: none;
      width: 100%;
    }

    h3 {
      margin-top: 30px;
      margin-bottom: 0;
      font-size: 18px;
      font-weight: 400 !important;
    }

    h4 {
      color: #fff;
      font-size: 20px;
      margin-top: 8px;
      margin-bottom: 25px;
    }

    a {
      padding: 5px 10px;
      margin: 0;
      border: 1px solid #fff;
      font-size: 14px;
      background: #7E4784;
      width: auto;
      color: #fff;
    }
  }
}