.discount-circle {
	width: 68px;
	height: 68px;
	background: red;
  color: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  text-align:center;
  p {
    line-height: 16px;
    font-size:10px;
    padding:17px 10px 0px 10px
  }
  .large {
    font-size:18px;
  }
}

// Making discount circles align right next to h2 -Ken
.page-node-480 {
  .heading {
    h2 {
      width: 90%;
      float: left;
    }
  }
  .discount-circle {
    margin-left: 27px;
  }
  @media (max-width: 1206px ){
    .heading {
      h2 {
       width: 100%;
      }
    }
  }
}

  .page-node-480 .discount-circle {
    margin-left: none;
  }

// Making discount circles align left next to h2 -Ken
.page-node-480 {
  .heading h2 {
    width: 90%;
  }
  .discount-circle {
    float: left;
    margin-right: 27px;
  }
  @media (max-width: 1206px ){
    .heading h2 {
      width: 100%;
    }
    .discount-circle {
      float: left;
      margin-right: none;
    }
  }
}