// Making discount circles align left next to h2 -Ken
.page-node-480 {
  .heading h2 {
    width: 80%;
  }
  @media (max-width: 1206px ){
    .heading h2 {
      width: 100%;
    }
  }
}

.discount-button-wrapper {
  display: inline-block;
  float: right;
  padding-left: 15px;
  padding-bottom: 15px;

  .discount-circle {
    width: 68px;
    height: 68px;
    background: red;
    color: white;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    text-align:center;
    margin-top: 9px;
    float: right;
    padding-bottom: 12px;

    p {
      line-height: 16px;
      font-size:10px;
      padding:17px 10px 0px 10px
    }
    .large {
      font-size:18px;
    }
  }
}