@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,600,400|Cinzel:400,700);
@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700);



.food-block {
    display: block;
    width: 90%;
    height: 100%;
    margin: 6px 0;
    padding: 12px 20px;
    box-shadow: 0px 0px 5px #666666;

    .food-block__title {
	    font-family: $font-family-open-sans;
		color:$info;
		margin-top: 10px;
        margin-right: 10%;
        margin-left: 10px;
	    font-weight: 500;
	    font-size: 20px;
    }

    .food-block__description {
	    line-height: 18px;
	    width: 90%;
	    margin-left: 10px;
    }

    .food-block__description p {
        line-height: 18px;
    }

    .food-block__cabin {
  		margin-left: 10px;
    }

    &.food-block.Purple {
    	background: linear-gradient(to right, #ffffff 0%, #ffffff 90%, #9C51A1 90%, #9C51A1 100%);
        color: #9C51A1;
	}

	&.food-block.Green {
    	background: linear-gradient(to right, #ffffff 0%, #ffffff 90%, #49AF4C 90%, #49AF4C 100%);
        color: #49AF4C;
	}

	&.food-block.Red {
    	background: linear-gradient(to right, #ffffff 0%, #ffffff 90%, #F14F4A 90%, #F14F4A 100%);
        color: #F14F4A;
	}

	&.food-block.Yellow {
    	background: linear-gradient(to right, #ffffff 0%, #ffffff 90%, #FFFF00 90%, #FFFF00 100%);
        color: #FFFF00;
	}

}

.Purple {

    .food-block__title {
        color: #9C51A1;
    }
}

.Green {

    .food-block__title {
        color: #49AF4C;
    }
}

.Red {
    .food-block__title {
        color: #F14F4A;
    }
}

.Yellow {
    .food-block__title {
        color: #FFFF00;
    }
}