.food-block {
    display: block;
    width: 100%;
    min-height: 213px;
    margin: 6px 0;
    box-shadow: 0px 0px 5px #666;
    @media (max-width: 1389px){

    }
    .food-block__trail {
        display: block;
        float: right;
        min-width: 100px;;
        min-height: 213px;
        color: #fff;
        a {
            display: none;
        }
    }
    .food-block__title {
        font-size: 24px;
        padding: 15px 10px;
        font-weight: 900;
    }
    .food-block__description,
    .food-block__cabin {
        width: 90%;
        line-height: 18px;
        padding: 15px 10px;
    }
}
.Purple {
    .food-block__trail {
        background-color: $purpleTrail;
    }
    .food-block__title,
    .food-block__description {
        color: $purpleTrail;
    }
}
.Green {
    .food-block__trail {
        background-color: $greenTrail;
    }
    .food-block__title,
    .food-block__description {
        color: $greenTrail;
    }
}
.Red {
    .food-block__trail {
        background-color: $redTrail;
    }
    .food-block__title,
    .food-block__description {
        color: $redTrail;
    }
}   
.Yellow {
    .food-block__trail {
        background-color: $yellowTrail;
    }
    .food-block__title,
    .food-block__description {
        color: $yellowTrail;
    }
}