.page-title {
    position: absolute;
    font-family: 'Cinzel Decorative', cursive;
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 15%;
}

//Fair info
.page-node-87 {
	@include page-header($light-blue);
}


//Exhibits page & contests
.page-node-257, .page-node-263 {
	@include page-header($teal);
}