.page-title {
    position: absolute;
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 15%;
}

.page-node-257 {
	.field-type-image {
	    background-color:#26A69A;
	    & img.panopoly-image-full {
	    	opacity: 0.1;
	    }
	}
}
