// Styles for pages
// --------------------------------------------------

.row {
	margin:0;
}

.col-md-12.internal-header.panel-panel {
  padding:0;
}

//No Sub - Making up for empty space
.nosub {
  padding-left: 25%;
}

.internal-header {
  margin-bottom: 1em;
}

img.panopoly-image-full {
	margin:0 !important;
}

#page-content-wrapper {
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.col-md-12.front-header.panel-panel {
  padding: 0;

}

.col-md-12.front-concerts.panel-panel {
  padding: 0;
  margin-bottom: 28.2%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

section.insider {
  margin-bottom: 1em;
}

.field.field-name-field-venue.field-type-taxonomy-term-reference.field-label-above a {
  font-size:32px;
  color:$purple;
}

.field.field-name-field-venue.field-type-taxonomy-term-reference.field-label-above a:before {
  display:inline-block;
  content:"@";
}

.panel-pane.pane-entity-field.pane-node-field-fair-content {
  padding-right: 40px;
  padding-left: 5px;
  margin-bottom: 60px;
}

.concert-landing-venue ul li {
  list-style: none;
  margin: 0;
}

span.views-label.views-label-field-event-sponsors {
  display: inline-block;
}

.field-content {
  display: inline;
}

.views-field.views-field-field-event-sponsors.concert-landing-sponsors {
  margin-bottom: 1em;
}

.field.field-name-field-venue.field-type-taxonomy-term-reference.field-label-above a {
  font-size: 19px;
}