//Right Sidebar

.right-sidebar {
	padding: 20px;
    box-shadow: 0 0 5px #000;
	color:#37474f;
	display: none;
	& ul {
		padding-left: 26px;
    	text-align: left !important;
    	& li {
    	    margin-bottom:1em;
    		text-indent: 1px;
    	}
	}
	a {
	    text-decoration:underline;
	    color: #37474f;	
	}
	& h2 {
	    font-family: 'Cinzel', serif;
	    color:#37474f;
	    margin-top: 0;	
	}
	& h3, & h4, & h5 {
		color:#37474f;
    	line-height:25px;
	}
	& h4 {
		margin-bottom: 4px;
   		font-size: 19px;
	}
	& h5 {
		line-height: 22px;
	}
}