.page-node-560 {
    padding: 0 10px;
    a {
        color: #fff;
    }
    .date-display-single {
        color: #fff;
    }
    .views-field.views-field-field-event-sponsors {
      display: inline-block;
      margin-right: 10px;
      font-style: italic;
      padding-top: 50px;
    }
    @media (min-width: 1080px) {
        .view-id-schedule {
            padding-left: 250px;
            padding-right: 10px;
        }
    }
    .view-dom-id-1e75c01c4504e61e9d65e7bd3411df23 {
        display: none;
    }
}

.schedule-block {
    width: 100%;
    box-shadow: 0px 0px 9px #37474F;
    margin-bottom: 1em;
    min-height: 100px;
    .schedule-block__title {
        float: left;
        width: 50%;
        font-weight: 900;
        a {
            display: block;
            padding: 1em;
        }
    }
    .schedule-block__tagline {
        float: left;
        width: 44%;
        margin-left: -50%;
        display: block;
        margin-top: 21px;
        padding: 1em;
    }
    .schedule-block__sponsors {
        float: left;
        width: 41.6666%;
        padding: 1em;
        & .italic {
            float:left;
            margin-left: 5px;
        }
    }
    .schedule-block__time {
        float: right;
        height: 100px;
        width: 50px;
        text-align: center;
        .date-display-single {
            display: block;
            margin-top: 40px;
        }
    }
    //Lets set the colors for the cats.
    &.Art-Crafts {
        @include schedule-color($artscrafts);
    }
    &.Attraction {
        @include schedule-color($attractions);
    }
    &.Concert {
        @include schedule-color($concerts);
    }
    &.Contests {
        @include schedule-color($contests);
    }
    &.Cullinary {
        @include schedule-color($culinary);
    }
    &.Educational {
        @include schedule-color($educational);
    }
    &.Entertainment {
        @include schedule-color($entertainment);
    }
    &.Equestrian {
        @include schedule-color($equestrian);
    }
    &.Exhibits {
        @include schedule-color($exhibits);
    }
    &.Farming {
        @include schedule-color($farming);
    }
    &.Music {
        @include schedule-color($music);
    }
    &.Performance {
        @include schedule-color($performance);
    }
}

//Quick Tabs
.quicktabs-tabs.quicktabs-style-nostyle {
    background-color: $tickets;
    text-align: center;
    a {
        color: #fff;
    }
}