.schedule-block {
    width: 100%;
    box-shadow: 0px 0px 9px #37474F;
    padding: 1em;
    margin-bottom: 1em;
    min-height: 39px;
    .schedule-block__title {
        float: left;
        width: 41.6666%;
        font-weight: 900;
    }
    .schedule-block__tagline {
        float: left;
        width: 44%;
        margin-left: -41.6666%;
        display: block;
        margin-top: 21px;
    }
    .schedule-block__sponsors {
        float: left;
        width: 41.6666%;
        & .italic {
            float:left;
            margin-left: 5px;
        }
    }
    .schedule-block__time {
        float: right;
    }
    //Lets set the colors for the cats.
    .Art-Crafts {
        @include schedule-color($arts-crafts);
    }
    .Attraction {
        @include schedule-color($attractions);
    }
    .Concert {
        @include schedule-color($concerts);
    }
    .Contests {
        @include schedule-color($contests);
    }
    .Cullinary {
        @include schedule-color($cullinary);
    }
    .Educational {
        @include schedule-color($educational);
    }
    .Entertainment {
        @include schedule-color($entertainment);
    }
    .Equestrian {
        @include schedule-color($equestrian);
    }
    .Exhibits {
        @include schedule-color($exhibits);
    }
    .Farming {
        @include schedule-color($farming);
    }
    .Music {
        @include schedule-color($music);
    }
    .Performance {
        @include schedule-color($performance);
    }
}