img.att-sponsor {
  //width: 100%;
  margin-top: 25px;
  width: 100px;
}

img.bp-sponsor {
  //width: 100%;
  padding: 1em;
  margin-top: -10px;
  width: 100px;
}

img.mta-sponsor {
  padding: 1em;
  //width: 100%;
  width: 120px;
}

img.kendall-sponsor {
  padding: 1em;
  margin-top: 12px;
  width: 130px;
}

img.akair-sponsor {
  //width: 100%;
  width: 125px;
  margin-top:19px;
}

img.craig-sponsor {
  //width: 100%;
  padding: 1em;
  width: 132px;
}