// Styles for Views
// --------------------------------------------------


//slideshow HP

.views_slideshow_cycle_main {
  width: 100%;
  .views-slideshow-cycle-main-frame {width: 100% !important; height: auto !important;}
  .views-slideshow-cycle-main-frame-row {width: 100% !important; height: auto !important;}
  .field-content { max-width: 100%; width: 100%;}
  .field-content img { max-width: 100%; width: 100%; height: auto !important; margin: 0; padding:0;}
}

.concert-landing-venue ul li {
  list-style: none;
  margin: 0;
}

span.views-label.views-label-field-event-sponsors {
  display: inline-block;
}

.field-content {
  display: inline;
}

.views-field.views-field-field-event-sponsors.concert-landing-sponsors {
  margin-bottom: 1em;
}

.field.field-name-field-venue.field-type-taxonomy-term-reference.field-label-above a {
  font-size: 19px;
}

